/* CSS declarations go here */
@import '../imports/ui/NavigationLink';
@import '../imports/ui/Popup';
@import '../imports/ui/CloseButton';
@import '../imports/ui/PlusButton';
@import '../imports/ui/Logo';
@import '../imports/ui/Button';
@import '../imports/ui/Panel';
@import '../imports/ui/InfoPanel';
@import '../imports/ui/DropMenu';
@import '../imports/ui/Form';

@import './pages/NavigationApp';

#root-div
  position absolute
  top 0px
  left 0px
  right 0px
  bottom 0px
  background-image linear-gradient(to top, #2ee59d, #ffffff 35%)
  overflow-y scroll
  overflow-x none

::-webkit-scrollbar
    width 5px

::-webkit-scrollbar-track
    background #f1f1f1
    border-radius 20px

::-webkit-scrollbar-thumb
    background #2ee59dcc
    border-radius 20px
    transition 0.3s

::-webkit-scrollbar-thumb:hover
    background: #2ee59dff;
    transition 0.3s
