.navigation-app
  display flexbox
  flex-direction vertical
  position relative
  width 100%
  height 200px

.logo-and-links
  display flexbox
  flex-direction vertical

.page-title
  position absolute
  font-family sans-serif
  letter-spacing 3px
  color white
  left 0px
  padding 5px 0px 5px 15px
  bottom 0px
  border-bottom 1px solid #555
  width 100%
  box-shadow 1px 1px 1px #555
  background #2ee59d
  overflow-y scroll
  &::selection
    background transparent
