.close-button
  position absolute
  right 32px
  top 32px
  width 32px
  height 32px
  opacity 0.3

  &:hover
    opacity 1

  &:before
  &:after
    position absolute
    left 15px
    content ' '
    height 15px
    width 2px
    background-color #000000ff

  &:before
    transform rotate(45deg)

  &:after
    transform rotate(-45deg)
