.form
  position absolute
  bottom 5px
  top 5px
  left 5px
  right 5px
  & .react-datepicker__input-container
    width 100%
  & .react-datepicker-wrapper
    width 90%
  & .submit-button
    width 30%
    bottom 0px
    left 30%
    right 30%
  & table
    width 100%
    & td
      padding 0px
      & .text-input
        font-size 12px
        width 90%
        font-style sans-serif
        border none
        border-bottom 1px solid gray
        &:focus
          outline: none
      & .date-input
        font-size 12px
        width 100%
        border none
        border-bottom 1px solid gray
        &:focus
          outline: none

    & th
      width 35%
      text-align right
