.form
  position absolute
  bottom 5px
  top 5px
  left 5px
  right 5px
  & .submit-button
    width 30%
    bottom 0px
    left 30%
    right 30%
  & table
    width 100%
    & td
      padding 0px
      & input
        font-size 20px
        border none
        border-bottom 1px solid gray
        &:focus
          outline: none
    & th
      text-align right
